* {
  padding: 0 auto;
}
.mar-mo {
  margin-top: 1.5rem;
}
#navbar {
  background: rgba(255, 255, 255, 0.95);
}

.nav-container {
  display: flex;
  position: relative;
  z-index: 100;
}

.one-side {
  flex-direction: column;
  background: #fffafa;
  width: 100%;
  position: absolute;
  left: 0;
  margin-top: -280px;
  text-align: center;
  z-index: -101;
  transition: margin 0.5s ease-in-out;
  /* talk about this Opacity with stephen and the one in the active class also, I used the opacity because some of the element in the oneside class are still breaking into the screen since we didnt use display none  */
  /* opacity: 0; */
}

.active {
  display: flex;
  flex-direction: column;
  position: absolute;
  margin-top: 60px;
  padding: 20px 0;
  width: 100%;
  left: 0;
  opacity: 1;
  background: #fffafa;
  text-align: center;
  justify-content: center;
  box-shadow: 0 10px 25px 10px rgba(0, 0, 0, 0.1);
  /* transform: translateY(0); */
  transition: margin 0.5s ease-in-out;
}

.sign-upbtn {
  padding-top: 30px;
  flex-grow: 1;
}

#signUp {
  background: none;
  border: none;
  color: #333;
}

.nav-link {
  flex-direction: column;
  margin: 0;
}

#hamburgerMenu {
  display: block;
  /* position: absolute;
  top: 30px;
  right: 10px; */
}

.first-part {
  display: flex;
  flex-direction: column;
}

.services {
  display: flex;
  flex-direction: column;
}

.your-dream-design {
  display: flex;
  flex-direction: column;
}

.left-part {
  display: none;
}

.testimonials {
  position: static;
}

.heading {
  margin-top: 15rem;
}

.linksys-heading {
  padding-bottom: 0;
}

.linksys {
  margin-bottom: 1rem;
}

.testimonials {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.line-height {
  margin: -65px 15px 0 15px;
}

#our-services {
  margin: 3rem 0;
}

.social-links {
  margin-bottom: 2rem;
}

.figures {
  margin-bottom: 1.5rem;
}

.hero-content img {
  align-self: center;
}

.left a {
  align-self: center;
}
