* {
  padding: 0 auto;
}
.mar-mo {
  margin-top: 1.5rem;
}
#navbar {
  background: rgba(255, 255, 255, 0.95);
}

.nav-container {
  display: flex;
  /* position: relative; */
  background: rgba(255, 255, 255, 0.95);
  /* background: red; */
  z-index: 100;
}

.one-side {
  position: relative;
  margin-top: -280px;
  z-index: -101;
  transition: all 0.5s ease-in;
}

.active {
  display: flex;
  flex-direction: column;
  position: absolute;
  margin-top: 60px;
  padding: 20px 0;
  width: 100%;
  top: 0;
  left: 0;
  background: #fffafa;
  text-align: center;
  justify-content: center;
  box-shadow: 0 10px 25px 10px rgba(0, 0, 0, 0.1);
  transition: all 0.5s ease-in-out;
}

.sign-upbtn {
  text-align: center;
  padding-top: 30px;
}

.nav-link {
  flex-direction: column;
  margin: 0;
}

#hamburgerMenu {
  display: block;
}

.first-part {
  display: flex;
  flex-direction: column;
}

.services {
  display: flex;
  flex-direction: column;
}

.your-dream-design {
  display: flex;
  flex-direction: column;
}

.left-part {
  display: none;
}

.testimonials {
  position: static;
}

/* .left a {
  margin-top: 1.5rem;
} */

.heading {
  margin-top: 15rem;
}

.linksys-heading {
  padding-bottom: 0;
}

.linksys {
  margin-bottom: 1rem;
}

.testimonials {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.line-height {
  margin: -65px 15px 0 15px;
}

#our-services {
  margin: 3rem 0;
}

.social-links {
  margin-bottom: 2rem;
}

.figures {
  margin-bottom: 1.5rem;
}

.hero-content img {
  align-self: center;
}

.left a {
  align-self: center;
}
